<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home">
      <i class="fal fa-home"></i>
      
    </ion-tab-button>

    <ion-tab-button routerLink="/profile/address-book/list">
      <i class="fal fa-address-book"></i>
      
    </ion-tab-button>

    <ion-tab-button routerLink="/profile/calendar/list">
      <i class="fal fa-calendar"></i>
      
    </ion-tab-button>

    <ion-tab-button routerLink="/profile/expenses/list">
      <i class="fal fa-dollar-sign"></i>
      
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
