<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Switch Profile</ion-title>
    <ion-buttons slot='end'>
      <ion-button><ion-icon class="chatbox-icon" name="chatbox-ellipses-outline"></ion-icon></ion-button>
      <ion-button (click)='presentProfileMenu($event)'><ion-icon class="threedot-icon" name="ellipsis-vertical"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content">
  
  </div>
  <ion-item *ngFor="let access of userProfileAccess" class="paraListView">
    <ion-col class="ion-align-self-center" size="5">
      <h1>{{ access.profile.name }}</h1>
      <p> {{access.profile.description}}</p>
    </ion-col>
    <ion-col class="ion-align-self-center" size="7">
      <ion-button class="switch-button" (click)="setCurrentUser(access.id)">SWITCH</ion-button>
    </ion-col>
  </ion-item>




  <ion-row class="ion-align-items-center ion-justify-content-between" *ngIf="userProfileAccess && userProfileAccess.length === 0">
    <ion-col size="12">
        <i>You are connected to any profiles.</i>
    </ion-col>  
     <ion-col class="noProfilesMsg">
      You can  <a routerLink="/add-profile">add a profile </a> here, or you can  <a  routerLink="/connect-profile">connect to an existing</a>.
    </ion-col>
  </ion-row>
  
    
</ion-content>
