.content {
  text-align: center;
  margin: 75px auto;
}

input {
  border: none;
  text-align: center;
  background: #D0F1FF;
  border-radius: 17px;
  width: 240px;
  height: 50px;
}

.submit {
  width: 240px;
  height: 50px;
  margin-top: 40px;
  --background: #1881AE;
  --border-radius: 17px;
}
