<ion-content>
  <div class="content">
    <div class="ion-text-center">
      <h4 class="t-create-account">
        Registration
      </h4>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
      <ion-input formControlName="firstName" type="text" placeholder="First Name" required>
        <span>
          <ion-icon name="person-outline"></ion-icon>
        </span>
      </ion-input>
      <ion-input formControlName="lastName" type="text" placeholder="Last Name" required>
        <span>
          <ion-icon name="person-outline"></ion-icon>
        </span>
      </ion-input>
      <ion-input formControlName="email" type="email" placeholder="Email" required>
        <span>
          <ion-icon name="mail-outline"></ion-icon>
        </span>
      </ion-input>
      <ion-input formControlName="password" type="password" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}">
        <span>
          <ion-icon name="bag-remove-outline"></ion-icon>
        </span>
      </ion-input>
      <ion-input formControlName="confirm_password" type="password" placeholder="Confirm Password" required>
        <span>
          <ion-icon name="bag-remove-outline"></ion-icon>
        </span>
      </ion-input>

      <div class="check">
        <ion-checkbox [(ngModel)]="checkAgree" [ngModelOptions]="{standalone: true}"></ion-checkbox>
        <ion-label>I agree all the privacy policy and term & condition</ion-label>
      </div>

      <button class="register-btn" type="submit" expand="block" [disabled]="!registerForm.valid || !checkAgree">
        Register
      </button>

      <div class="ion-text-center ion-margin-top">
        <span class="login-label">Already have an account?</span>
        <span (click)="login()" class="ion-margin-start go-login">Log In</span>
      </div>

      <div class="ion-text-center ion-margin-top">
        <span class="social-text">--------------------- or ---------------------</span>
      </div>

      <div class="ion-text-center ion-margin-top">
        <button class="facebook-button">Facebook</button>
        <button class="google-button">Google</button>
      </div>
    </form>
  </div>
</ion-content>


